Package: matrixio-odas-dbgsym
Source: matrixio-odas
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: MATRIX Labs <info@matrix.one>
Installed-Size: 491
Depends: matrixio-odas (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for matrixio-odas
Build-Ids: 02f1bacc5618d6f53f8007bfa339fef60d4bda7a 3f31a1d20f4db34dc815484c05bb35270c8ba469 d260ff98870e3fdce22cf78bfe7cf7aa5355e062 dab1f0744540c98ddd64092249ae5895645f825e
